.mission-container {
  background-color: #afaeae;
  height: 140vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .mission-text {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 30%;
    width: 70%;
    font-family: "Poppins", sans-serif;
    margin-top: 10rem;
    margin-bottom: 10rem;
    // border: 2px solid red;
    .mission-title {
      // border: 2px solid purple;
      font-size: 1.8rem;
      h3 {
        border-bottom: 2px solid #fcdd00;
      }
    }
    .mission-description {
      // border: 2px solid green;
      font-size: 2rem;
    }
    .mission-button {
      // border: 2px solid orchid;
      button {
        display: flex;
        justify-content: center;
        text-decoration: none;
        width: 16rem;
        border: 2px solid black;
        background-color: transparent;
        color: black;
        padding: 0.5rem 1rem;
        font-size: 2rem;
        margin-top: 2rem;

        &:hover {
          // border: 2px solid #fcdd00;
          color: #fcdd00;
          background-color: black;
        }
      }
    }
  }
  .mission-image {
    // border: 2px solid yellowgreen;
    height: 55%;
    width: 55%;
    margin-bottom: 10rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
}
